$main-ff: 'Plus Jakarta Sans', sans-serif;

$blue-color: #755CDE;
$orange-color: #F6A560;
$pink-color: #F39E9E;
$brown-color: #EB7565;
$aqua-color: #61C4B7;
$purple-color: #552049;
$black-color: #030303;
$gray-color: #7A746E;
$white-color: #FFF7F0;